<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerWWWPath>/build/WWW</ServerWWWPath>
  <ServerPort>4000</ServerPort>
  <RequiredNodePlugins>
    <string>coffee-script</string>
    <string>eco</string>
    <string>less</string>
  </RequiredNodePlugins>
  <Outputs>
    <OutputFile>
      <RelativeFilename>app.js</RelativeFilename>
      <Compilers>
        <LanguageCompilerInfo>
          <Extension>js</Extension>
          <CompilerName>JavaScriptLanguage</CompilerName>
          <CompileCommand></CompileCommand>
        </LanguageCompilerInfo>
        <LanguageCompilerInfo>
          <Extension>coffee</Extension>
          <CompilerName>CoffeeScriptLanguage</CompilerName>
          <CompileCommand>coffee -p {filename}</CompileCommand>
        </LanguageCompilerInfo>
        <LanguageCompilerInfo>
          <Extension>eco</Extension>
          <CompilerName>EcoLanguage</CompilerName>
          <!--<CompileCommand>eco -p {filename}</CompileCommand>-->
          <CompileCommand>node -c ./plugins/ecoCompiler.js {filename}</CompileCommand>          
        </LanguageCompilerInfo>
      </Compilers>
      <BeforeLibs>
        <string>vendor/scripts/jquery.js</string>
        <string>vendor/scripts/jqm_config.js</string>
        <string>vendor/scripts/jquery.mobile.js</string>
        <string>vendor/scripts/json2.js</string>
        <string>vendor/scripts/underscore.js</string>        
        <string>vendor/scripts/backbone.js</string>
        <string>vendor/scripts/i18n.js</string>
        <string>vendor/scripts/console-helper.js</string>        
      </BeforeLibs>      
    </OutputFile>
    <OutputFile>
      <RelativeFilename>app.css</RelativeFilename>
      <Compilers>
        <LanguageCompilerInfo>
          <Extension>css</Extension>
          <CompilerName>CSSLanguage</CompilerName>
          <CompileCommand></CompileCommand>
        </LanguageCompilerInfo>
        <LanguageCompilerInfo>
          <Extension>less</Extension>
          <CompilerName>lessLanguage</CompilerName>
          <CompileCommand>less {filename}</CompileCommand>
        </LanguageCompilerInfo>        
      </Compilers>
      <BeforeLibs>
        <string>vendor/styles/jquery.mobile.css</string>
      </BeforeLibs>      
    </OutputFile>
  </Outputs>
  <Platforms>
    <Platform>
      <Name>WWW</Name>
      <WWWDir />
      <AssetsDir>assets</AssetsDir>
    </Platform>
    <Platform>
      <Name>iPhone</Name>
      <WWWDir>www</WWWDir>
      <AssetsDir></AssetsDir>
    </Platform>
  </Platforms>
</Config>